<div class="header">
    <h1 class="header-title">Piskel clone</h1>
    <p class="header-text">Create animations in your browser.</p>
    <img src="https://www.piskelapp.com/static/resources/home/features/feature-live-preview.gif" alt="animation">
</div>
<div class="main">
  <button class="main-button" mat-raised-button color="primary" routerLink="/app">Create animations</button>
  <button class="main-button" mat-raised-button color="primary">Sing Up</button>
</div>
<div class="app">
  <img src="../../assets/img/app.png" width="1000" alt="app">
</div>
