<div class="canvas-container">
  <app-frames
    (addFrame)="addFrame()" (deleteFrame)="deleteFrame($event)" (selectFrame)="selectFrame($event)" (copyFrame)="copyFrame($event)"
    [frames]="frames" [canvasSize]="canvasSize" [activeFrame]="activeFrame">
  </app-frames>
  <div>
    <canvas #canvas class="canvas"></canvas>

    <mat-toolbar color="primary">
      <mat-toolbar-row class="size-button-container">
        <button [ngClass]="{selected: 32 === canvasSize, 'size-button': true}" (click)="size(32)" mat-raised-button color="accent">32</button>
        <button [ngClass]="{selected: 64 === canvasSize, 'size-button': true}" (click)="size(64)" mat-raised-button color="accent">64</button>
        <button [ngClass]="{selected: 128 === canvasSize, 'size-button': true}" (click)="size(128)" mat-raised-button color="accent">128</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <app-animation></app-animation>
</div>
