.frames {
  padding: 10px;

  &-btn {
    margin-top: 10px;
  }

  &-list {
    width: 110px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  &-box {
    position: relative;
    padding: 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
  }

  &-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
  }

  &-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #3f3f3f;
    background-image: url(../../assets/img/icons/frame/frame-recyclebin-white.png);
    cursor: pointer;
    opacity: 0;

      &:hover {
        opacity: 1;
    }
  }

  &-copy {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #3f3f3f;
    background-image: url(../../assets/img/icons/frame/frame-duplicate-white.png);
    cursor: pointer;

    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &-drag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #3f3f3f;
    background-image: url(../../assets/img/icons/frame/frame-dragndrop-white.png);
    cursor: move;

    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .selected {
    border: 3px solid #ff4081;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
