h1, p {
  margin: 20px;
  color: #3f3f3f;
}

.header {
   padding: 50px;
   background-color: #00BFFF;
}

.main {
  padding: 50px;
  background-color: #1f7e9a;

  &-button {
    margin-right: 10px;
  }
}
