<div (click)="chooseEvent($event)" class="frames">
  <div cdkDropList class="frames-list" (cdkDropListDropped)="drop($event)">
    <div data-action="select" [attr.data-id]="i" class="frames-box" [ngClass]="{selected: i === activeFrame}" *ngFor="let frame of frames; let i = index" cdkDrag>
      <app-frame [canvasSize]="canvasSize" [frame]="frame" [index]="i"></app-frame>
      <div data-action="select" [attr.data-id]="i" class="frames-number">{{i + 1}}</div>
      <div *ngIf="frames.length > 1" data-action="delete" [attr.data-id]="i" class="frames-delete"></div>
      <div data-action="copy" [attr.data-id]="i" class="frames-copy"></div>
      <div *ngIf="frames.length > 1" cdkDragHandle class="frames-drag"></div>
    </div>
  </div>
  <button data-action="add-frame" class="frames-btn" mat-raised-button color="primary">Add new frame</button>
</div>
